/* Getting the new tags to behave */
article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
  display: block;
}
mark,
rp,
rt,
ruby,
summary,
time {
  display: inline;
}
/* Left & Right alignment */
.left {
  float: left;
}
.right {
  float: right;
}
.wrapper {
  width: 100%;
  overflow: hidden;
}
/* Global properties */
body {
  background: #000;
  border: 0;
  font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #a09d99;
  line-height: 22px;
}
.ic,
.ic a {
  border: 0;
  float: right;
  background: #fff;
  color: #f00;
  width: 50%;
  line-height: 10px;
  font-size: 10px;
  margin: -220% 0 0 0;
  overflow: hidden;
  padding: 0;
}
.css3 {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  position: relative;
}
/* Global Structure */
.main {
  margin: 0 auto;
  width: 966px;
}
.body1 {
  background: url(../images/bg_top2.gif) top repeat-x #0e0b06;
}
.body2 {
  background: #1c160d;
}
/* main layout */
a {
  color: #fff;
  text-decoration: underline;
  outline: none;
}
a:hover {
  text-decoration: none;
}
h1 {
  float: left;
  padding: 33px 0 0 16px;
}
h2 {
  font-size: 35px;
  color: #fff;
  line-height: 1.2em;
  padding: 28px 0 16px 0;
  font-weight: normal;
  letter-spacing: -2px;
}
h2 span {
  display: block;
  margin-top: -7px;
}
h3 {
  font-size: 25px;
  color: #fff;
  font-weight: normal;
  line-height: 1.2em;
  padding: 34px 0 8px 0;
  letter-spacing: -1px;
}
p {
  padding-bottom: 22px;
}
/* header */
header {
  height: 169px;
}
#logo {
  display: block;
  background: url(../images/logo.png) 0 0 no-repeat;
  width: px;
  height: 79px;
  text-indent: -9999px;
}
#menu {
  float: right;
  padding: 71px 16px 0 0;
}
#menu li {
  float: left;
  padding-left: 1px;
}
#menu li a {
  display: block;
  font-size: 19px;
  color: #130c04;
  text-decoration: none;
  line-height: 42px;
  height: 43px;
  padding: 0 19px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  background: url(../images/spacer.gif) repeat;
}
#menu li a:hover,
#menu .active a {
  background: url(../images/menu_bg.gif) bottom repeat-x #92d30f;
  color: #fff;
}
#menu li a:hover,
#menu .active a {
  background/*\**/: url(../images/menu_bg.gif) top repeat-x #337f05;
}
.slider_bg {
  width: 100%;
  height: 483px;
  background: url(../images/slider_bg.png) 0 0 no-repeat;
  position: relative;
  margin-top: 17px;
}
.slider {
  top: 8px;
  left: 8px;
  position: absolute;
  z-index: 1;
}
.slider .items {
  display: none;
}
.slider .pagination {
  position: absolute;
  z-index: 2;
  bottom: 23px;
  left: 430px;
}
* + html .slider .pagination {
  bottom: 27px;
}
.slider .pagination li {
  float: left;
}
.slider .pagination a {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url(../images/buttons.png) right 0 no-repeat;
}
.slider .pagination a:hover,
.slider .pagination .current a {
  background-position: left;
}
/* content */
#content {
  padding: 0 0 34px 23px;
}
#content2 {
  padding: 3px 0 15px 23px;
}
.pad_left1 {
  padding-left: 35px;
}
.pad_left2 {
  padding-left: 50px;
}
.pad_bot1 {
  padding-bottom: 11px;
}
.pad_bot2 {
  padding-bottom: 15px;
}
.marg_right1 {
  margin-right: 20px;
}
.pad_top1 {
  padding-top: 5px;
}
.dropcap1 {
  float: left;
  background: url(../images/dropcap.png) 0 0 no-repeat;
  width: 50px;
  height: 54px;
  margin-right: 20px;
  font-size: 45px;
  line-height: 1.2em;
  text-align: center;
  color: #e11204;
  margin-top: 6px;
}
.dropcap1 span {
  display: block;
  margin-top: -6px;
}
.dropcap1 .color1 {
  color: #fff;
}
.dropcap1 .color2 {
  color: #4f9608;
}
.dropcap1 .color3 {
  color: #089495;
}
.color1 {
  color: #fff;
}
.color2 {
  color: #62a80a;
}
.font1 {
  font-size: 16px;
}
.link1 {
  display: inline-block;
  font-style: italic;
  padding-right: 13px;
  background: url(../images/marker_2.gif) right 8px no-repeat;
  text-decoration: none;
}
.link1:hover {
  text-decoration: underline;
}
.link2 {
  color: #a09d99;
  text-decoration: none;
}
.link2:hover {
  text-decoration: underline;
}
.testimonials {
  background: url(../images/testimonials_bg.gif) 0 4px no-repeat;
  padding-left: 50px;
}
.quot {
  background: url(../images/quot1.png) 0 0 no-repeat;
  padding-left: 20px;
  font-style: italic;
}
.quot img {
  display: inline-block;
  margin-top: 1px;
  padding-left: 4px;
}

.list1 li {
  font-size: 16px;
  line-height: 27px;
}
.list1 a {
  color: #62a80a;
  padding-left: 23px;
  background: url(../images/marker_1.png) 0 4px no-repeat;
  text-decoration: none;
}
.list1 a:hover {
  color: #fff;
}
.quality {
  width: 100%;
  overflow: hidden;
}
.quality .cols {
  width: 290px;
}
.quality .pad_left1 {
  padding-left: 30px;
}
.quality .arrow {
  background: url(../images/arrow.png) right 4px no-repeat;
}
.quality .dropcap1 {
  height: 50px;
  background: url(../images/dropcap2.png) 0 0 no-repeat;
  margin-top: 1px;
}
.quality h3 {
  padding: 0 0 17px 0;
}
.quality h3 span {
  display: block;
  margin-top: -6px;
}

.price li {
  width: 100%;
  overflow: hidden;
  background: url(../images/bg_price.gif) 0 -5px repeat-x;
}
.price span {
  float: right;
  background: #1c160d;
}
.price a {
  color: #a09d99;
  text-decoration: none;
  float: left;
  background: #1c160d;
}
.price a:hover {
  color: #fff;
}
.address {
  margin-top: -3px;
  padding-bottom: 25px;
}
.address li {
  line-height: 27px;
  padding-left: 23px;
  background: url(../images/marker_1.png) 0 6px no-repeat;
  overflow: hidden;
}
.address a {
  color: #62a80a;
  text-decoration: none;
}
.address a:hover {
  text-decoration: underline;
}
.team {
  display: flex;
  justify-content: center;
  background-color: #ff6666;
  border: solid 1px #c6c6eb;
}
.medium {
  filter: grayscale(90%);
  border-radius: 15px;
}
.qualities {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}
.qualities:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  padding-top: 20px;
  float: left;
  width: 18%;
  padding-right: 60px;
  color: #737b7d;
}
.column1 {
  padding-top: 20px;
  float: left;
  width: 18%;
  padding-right: 60px;
  color: #01818d;
  text-align: center;
}

.logo img {
  position: absolute;
  margin-top: 5px;
  margin-left: 60px;
  max-width: 100px;
  height: 40px;
}
/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: whitesmoke;
  max-height: 60px;
}

.navbar a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the topnav links */
.navbar a {
  float: left;
  display: block;
  color: #01818d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 2px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #f66960;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  height: 15px;
  margin-top: 7px;

  border-radius: 5px;
  height: 15px;
  padding-top: 5px;
  margin-top: 10px;
}
.about {
  width: auto;
  overflow: hidden;
  width: 100%;
  height: 340px;
  background-color: #cbe170;
  border: solid 1px #c6c6eb;
}

.findevents {
  width: auto;
  overflow: hidden;
  width: 100%;
  height: 340px;
  background-color: #109795;
  border: solid 1px #c6c6eb;
}

.vegbag {
  width: 340px;
  height: 290px;
  margin-left: 120px;
  /* margin-top: 20px; */
  border-radius: 5px;
}
.aboutus {
  padding-top: 20px;
  float: left;
  width: 40%;
}
.farms {
  display: flex;
  justify-content: center;
  background-color: black;
}

.quiz {
  float: right;
  height: 40px;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #f66960;
  border: none;
  text-align: center;
  font-size: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.quiz span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.quiz span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.quiz:hover span {
  padding-right: 25px;
}

.quiz:hover span:after {
  opacity: 1;
  right: 0;
}

.headingfind {
  display: table;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  font-size: 36px;
  margin-top: 115px;
  margin-bottom: 0px;
  background-color: rgba(60, 60, 60, 0.2);
}

.search-container {
  width: 316px; /* Can be in percentage also. */
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

::placeholder {
  color: #1ac6ff;
}
.search-container input[type="text"] {
  text-align: center;
  margin-top: 15px;
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  color: #1ac6ff;
  font-weight: bold;
  opacity: 0.85;
  padding: 12px 20px 12px 0px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 16px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 50px;
  border-radius: 3px;
}

.search-container button:hover {
  background: #1ac6ff;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  input[type="text"],
  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type="text"] {
    border: 1px solid #ccc;
  }
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.closequiz {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.foodquiz {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 45%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

h4 {
  margin: 0px;
  padding: 0px;
  font-family: BebasNeue;
  color: #777878;
  font-size: 20pt;
  line-height: 33px;
}
pre {
  font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #a09d99;
  line-height: 27px;
}
/* footer */
footer {
  padding: 0 0 40px 23px;
}

#icons li {
  line-height: 1.9em;
}
#icons a {
  color: #a09d99;
  text-decoration: none;
}
#icons a span {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
#icons a:hover {
  color: #fff;
}
#icons img {
  margin: 5px 10px 0 0;
}

#why_us li {
  line-height: 27px;
}
#why_us a {
  color: #a09d99;
  text-decoration: none;
  padding-left: 23px;
  background: url(../images/marker_3.png) 0 2px no-repeat;
}
#why_us a:hover {
  color: #fff;
}
#footer_link {
  margin-top: 17px;
  border-top: 1px solid #1a1a1a;
  padding-top: 19px;
}
/* forms */
#ContactForm {
  padding-top: 2px;
}
#ContactForm span {
  float: left;
  width: 111px;
  line-height: 24px;
}
#ContactForm .bg {
  border: 1px solid #fff;
  background: url(../images/bg_input.gif) top repeat-x #e7e7e7;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  float: left;
  height: 20px;
  overflow: hidden;
}
#ContactForm .bg2 {
  border: 1px solid #fff;
  background: url(../images/bg_textarea.gif) top repeat-x #e7e7e7;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  float: left;
  height: 98px;
  overflow: hidden;
}
#ContactForm .wrapper {
  min-height: 27px;
}
#ContactForm .textarea_box {
  height: 105px;
  width: 100%;
  overflow: hidden;
}
.submit {
  float: right;
  height: 40px;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #f66960;
  border: none;
  text-align: center;
  font-size: 15px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-right: 20px;
}

.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit:hover span {
  padding-right: 20px;
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
}
#ContactForm .input {
  width: 307px;
  height: 18px;
  background: none;
  padding: 0 5px;
  color: #6b6051;
  font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
}
#ContactForm textarea {
  overflow: auto;
  width: 307px;
  height: 98px;
  background: none;
  padding: 0 5px;
  color: #6b6051;
  font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
}
